body {
    background-color: #467302;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;  
}

a {
    color: antiquewhite;
}

a:hover {
    text-decoration: none;
    color: #591202;
}

#container {
    width: 65%;
    margin: 20px auto;
    background-color: #BF6B04;
    border: 4px solid #F2B705;
    padding: 20px;
    border-radius: 20px;
}
header {
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid #591202;
    
}

header h1 {
    font-size: 50px;
    color: #fff3b0;

}

nav {
    text-align: center;
    border-bottom: 2px solid #591202;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}  

nav li a {
    display: block;
    background-color: #FFF3B0;
    color: #ffbeb0;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #591202;
}

nav li a:hover {
    background-color: #591202;
    color: #FFF3B0;
}

main h2 {
    text-align: center;
    color: #FFF3B0;
}

.multi_col {
    display: flex;
}

section, 
aside {
    border-radius: 20px;
    border: 2px solid #591202;
    margin: 20px;
    padding: 20px;
}

section {
    width: 75%;
}

aside {
    width: 25%;
}

section img {
    width: 75%;
    border-radius: 10px;
    border: 2px solid #591202;
}

footer {
    padding: 40px 0;
    text-align: center;
}
