/* Global Styles */
* {
    margin: 0;
}

body {
    background-color: #f4f4f4;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: #333;
}

a:hover {
   text-decoration: none;
}

/* Mobile Styles */

#container {
    border: 4px solid #ccc;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: bisque;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    border-bottom: 4px solid #ccc;
}

nav li a:hover {
    background-color: #dddddd;
}

main {
    padding: 10px;
    margin: 10px;
}

.main_content {
    padding: 10px;
   
}

.col {
    margin: 10px;
}

.col img {
    border-radius: 10px;
    border: 2px solid #ccc;
}

footer {
    text-align: center;
    padding: 40px;   
}

iframe {
    display: block;
    margin: 20px auto;
    width: 65%;
    height: 450px;

}

.contact_content {
    text-align: center;
}


/* Tablet Styles */

@media (min-width: 768px) {
    nav {
        padding: 10px 0;
        border-bottom: 4px solid #ccc;
    }
    
   nav li {
       display: inline;
      
    }

    nav li a {
        display: inline-block;
        width: 150px;
        height: 40px;
    }

    main {
        margin-top: 10px;
    }

    .col img {
        width: 65%;
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {
    #container {
    width: 65%;
    margin: 20px auto;
    background-color: burlywood;
}

    .gallery {
        display: flex;
    }
    .col {
        border: 2px solid #ccc;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }


.col img {
    width: 75%;
}

.col h3 {
    padding: 10px;
    text-align: center;
    color: chocolate;
}
.col p {
    padding: 10px;
}

.multi_col {
    display: flex;
}   

section, aside {
        border: 2px solid #ccc;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
}

.home_section {
    width: 70%;
}

.home_aside {
    width: 30%;

}

.col h4 {
    text-align: center;
    color: chocolate;
}

.col h5 {
    text-align: center;
    color: chocolate;
}

}




